/***********************************
 GENERAL    TODO:  ADD Fonts from google.com/fonts
************************************/

 body {
	font-family: 'Open Sans', sans-serif;
}

a {
	text-decoration: none;
	color: #fff;
}

img {
	max-width: 100%;
	
}

/* wrapper contains entire body */
#wrapper {
	max-width: 940px;
	margin: 0 auto;
	padding: 0;
	/* background-image: url('../img/twitter.png'); */
}

p {
	margin: 0 1em 1em 1em;
}

